/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Noto Sans Gujarati", sans-serif;
} */

/* body { */
/* height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; */

/* background-color: #fff; */
/* } */

.datars {
  display: inline-flex;
  /* border: 1px solid greenyellow; */
  max-width: 100%;
  flex-direction: row;
}

/* ll; */

.HomePage {

  /* border: green 1px solid; */
  height: 130vh;
  margin: 0 auto;
  /* width: 100%; */
  max-width: 1280px;
  position: relative;
  
  margin-top: 5%;
  overflow: hidden;
  /* width: 100%; */
  /* height: 200vh;
   */
  /* padding-left: 10%;
  padding-right: 10%; */
}

.boundry {
  /* border: green 1px solid ; */
  /* padding-left: 10%;
  padding-right: 10%; */
  margin-top: 1%;
  /* margin-left: 5%; */
  margin-right: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  /* overflow-y: hidden;
  overflow-x: hidden; */
  /* align-items: center; */
}

.viewed {
  display: none
}

.LeftSection {
  flex: 1s;
  /* flex-basis: 15%; */
  /* border:magenta 1px solid; */
  height: 99%;
}

.RightSection {
  flex: 1s;
  flex-basis: 20%;
  /* border:blue 1px solid; */
  height: 100%;
  margin-left: 2%;
}

.MiddleSection {
  flex-basis: 60%;
  flex: 1;
  /* border:white 1px solid; */
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow-y: scroll;
}

.MiddleSection::-webkit-scrollbar {
  display: none;
}

.MiddleSection {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.Fun {
  width: 60%;
}

@media all and (min-width: 770px) and (max-width: 1025px) {
  .RightSection {
    display: none;
  }

  .boundry {
    /* border: 1px solid red; */
    margin: 0%;
  }

  .HomePage {
    margin-top: 8%;
  }
}

@media all and (min-width: 200px) and (max-width: 810px) {



  .viewed {
    /* border: 1px solid red; */
    overflow: hidden;
    overflow-x: scroll;
    margin-top: 12%;
    display: inline-flex;
    width: 100%;
    height: 70px;
  }


}

@media all and (min-width:183px) and (max-width:810px) {

  .LeftSection {
    display:none;
  }

  .RightSection {
    display:none;

  }
}

@media  (max-width:400px) {
  
  .viewed {
    height: 70px;
  }
}

@media (max-width: 1025px) { 
  .HomePage {
    margin-top: 0%;
  }

}