.IYMAIN {
  display: flex;
  display: none;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.IYMAIN a {
  text-decoration: none;
}

.I86iuu {
  color: #808080;
}

.I86iuu:hover {
  color: #f89c1d;
}

@media all and (max-width:769px) {
  .IYMAIN {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: fixed;
    /* top: 90.5%; */
    bottom: 0;
    left: 0;
    background: #FFF;
    width: 95%;
    z-index: 99;
    height: 8%;
    padding: 3%;
  }
}

/* @media all and (max-width:620px) {
  .IYMAIN {
    top: 91%;
    width: 100%;
  }
} */

@media all and (min-width:360px) and (max-width:480px) {
  .IYMAIN {
    /* text-decoration: none; */
    /* width:83%; */
  }

}