.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  transition: all 0.5s ease;
  max-width: 1280px;
  width: 100%;
  height: 75%;
  background-color: #fafafa;
}

.insideContainer {
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  height: 9%;
  background-color: #fafafa
}

.logo {
  flex-basis: 30%;
}

.navmenu {
  flex-basis: 70%;
}

.navmenu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navmenu .link {
  list-style: none;
  margin: 1.25rem;
  /* font-size: 2.063rem; */
  cursor: pointer;
  justify-content: flex-end;
  text-decoration: none;
  /* font-size: 1.625rem; */
  font-size: 60%;
  color: black;
}

.navmenu .datas {
  list-style: none;
  margin: 1.25rem;
  /* font-size: 2.063rem; */
  cursor: pointer;
  justify-content: flex-end;
  text-decoration: none;
  /* font-size: 1.625rem; */
  font-size: 90%;
  color: black;
}
.imgs {
  margin-top: 5%;
}

.nevmenu li:hover {
  color: orangered;
}

.navmenu a li {
 
}

.logo Image {
  /* height: 4.375rem; */
  margin-top: 5%;
}

.date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  margin-right: 73%;
}

#check {
  display: none;
}

.Icones {
  float: right;
  margin-top: 2%;
  margin-right: 1%;
  font-size: 200%;
  display: none;
}

.MediaIco {
  display: none;
}

.MediaIcoDOT {
  display: none;
  padding-right: 10px;
}

@media only screen and (max-width: 1330px) {
  .Container {
    padding: 0%;
  }
}

@media only screen and (max-width: 950px) {
  .navmenu a li {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin: 0.5rem;
  }

  .logo Image {
    height: 3rem;
  }
}

@media only screen and (max-width: 769px) {
  .Container {
    position: fixed;
    z-index: 100;
    margin-top: 0px;
    height: 9%;
  }
  
  .datas {
    display: none;
  }
  .MediaIco {
    display: block;
    float: left;
    color:black;
    height: 30px;
    width: 30px;
  }

  .MediaIcoDOT {
    display: block;
  }

  .navmenu a li {
    font-size: 1.5rem;
    padding: 0px 15px;
  }

  .link {
    display: none;
  }

  .logo Image {
    height: 3rem;
    margin: 0px 35px;
  }
}

@media all and (max-width:500px) {
  .Container {
    /* height: 97px; */
  }

  .logo Image {
    height: 3rem;
  }


}

@media all and (max-width: 360px) {
  .Container {
    margin-top: -2px;
  }

  .Container {
    /* height: 92px; */
  }
}

@media all and (min-width:360px) and (max-width:480px) {
  .Container{
    /* width:auto; */
    /* width:63%; */
    /* height: 65px; */
    /* height: 9%; */
    /* position: relative; */
  }
}

@media all and (max-width: 644px) {

  .insideContainer {
    height: 9%;
  }
}