/* Coming Soon Part   */
/* .IUTYO {
  width: 100%;
} */
.KHUGUTF {
  height: 10%;
  min-height: 540px;
  max-width: 280px;
  border-radius: 5px;
  padding: 24px 0px 0px 24px;
}

.JKUv {
  position: absolute;
  margin-top: -500px;
  margin-left: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.MKF9878 {
  position: absolute;
  background: #0000008b;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-top: -500px;
  margin-left: 190px;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.VIDeohg {
  height: 50px;
  position: absolute;
  margin-top: 250px;
  margin-left: -145px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.63);
  border: 1px solid #FFF;
  border-radius: 25px;
  cursor: pointer;
}

@media all and (max-width:1230px) {
  /* .KHUGUTF {
    padding: 24px 20px 0px 0px;
  } */

  /* .VIDeohg {
    margin-left: -167px;
  } */

  .MKF9878 {
    margin-left: 160px;
  }
}

@media all and (max-width:1176px) {
  .MKF9878 {
    margin-left: 145px;
    position: relative;
    width: 85px;
  }
  .VIDeohg {
    margin-left: 135px;
  }
}

@media all and (max-width:769px) {
  .IUTYO {
    display: none;
  }
}


/* Coming Soon Part   */




/* .ShortNews {
  position: absolute;
  margin-top: -42px;
  font-size: 14px;
  padding: 0rem 0.5rem;
  background-color: #ffffff8a;
  width: 266px;
  height: 38px;
  overflow: hidden;
}
.img-right img {
  height: 222px;
  width: 267px;
  border: 1px solid #000;
}
.rtes {
  color: black;
}
@media all and (max-width: 1050px) {
  .img-right img {
    height: 193px;
    width: 235px;
    border: 1px solid #000;
  }
  .ShortNews {
    margin-top: -35px;
    font-size: 11px;
    width: 233px;
    height: 30px;
  }
}
@media all and (max-width: 800px) {
  .img-right img {
    height: 165px;
    width: 170px;
    border: 1px solid #000;
  }
  .ShortNews {
    margin-top: -31px;
    font-size: 10px;
    width: 169px;
    height: 26px;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
  .img-right img {
    height: 313px;
    width: 360px;
    border: 1px solid #000;
    margin: 10px 0px 0px 0px;
  }
  .ShortNews {
    position: absolute;
    margin-top: -68px;
    font-size: 24px;
    padding: 0rem 0.5rem;
    background-color: #ffffff8a;
    width: 360px;
    height: 64px;
  }
} */