.FullHead{
    /* border: 1px solid red; */
    width: 94%;
    height: 610px;
    border: 1px solid  #eaeaea;
    padding: 20px 20px 8px;
    cursor: pointer; 

}
.idcolor{
    color:#ff554b
}
.Imges{
    position: relative;
    /* border :1px solid red; */
    width:100%;
    height: 389px
}
.catted{
    height: 24px;
    width: 150px;
    font-weight: bold;
}

.FullHead h3{
    height: auto;
    width:auto;
    line-height: 36px;
    font-size: 24px;
}

/* .FullHead Image {
    width: 598px;
    height: 400px;
    display: flex;
    border-radius: 4px;
} */

.NewFooter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 120%;
    height: 2rem;
    color: #808080;

 
}
.SocialIcon {
    height:36px;
    /* width:150px; */
    display: flex;
    flex-direction: row;
    /* position: relative; */
    /* justify-content: space-between; */
    /* right:0 */
    /* align-items: center; */
   
}
.SocialIconed{
 padding-left: 10px;
 height:24px;
 width:24px;
}

@media all and (min-width:360px) and (max-width:480px) {
    .FullHead{
        width: 88%;
        height: 610px;
        border-top: none;
        
    }

    /* .FullHead Image {
        width:auto;
    } */

    /* .FullHead Image {
        width: 100%;
        height:20rem
    } */
    .FullHead h3 {
    
        line-height: 28px;
        font-size: 15px;
    }

    .SocialIcon {
        flex-direction: row-reverse
        
    }
    
}


@media all and (min-width:771px) and (max-width:1025px) {
    .FullHead{
        /* border: 1px solid red; */
        width: 90%;
    }

}

