.fullheight {
    /* border: 1px solid red; */
    background-color: #18191a;
    height: 92vh;
    /* width:100wh; */
}

.videoborder {
    /* border: 1px solid green;   */

    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background: black
}

.videoborder video {
    height: 90vh;
    object-fit: contain;
    /* min-height: 820px; */
    width: 100%;
}

.footer {
    /* margin-top: 2%; */
    background-color: #18191a;
    border-top: 1px solid #929496;
    box-sizing: border-box;
    color: white;
    padding: 15px 0;
    transition: all .2s;
    height: 8vh;
}

.datarecord {
    display: flex;
    margin: 0 20px;
    padding-right: 130px;
    position: relative;
}

.tittle {
    margin-top: 1%;
    white-space: nowrap;
    display: inline-block;
    font-size: 15px;
    line-height: 15px
}

.sutittle {
    margin-top: 1%;
    display: inline-block;
    font-size: 15px;
    line-height: 15px
}

.subfooter {
    align-items: flex-start;
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;


}

.sudata {
    font-size: 12px;
    line-height: 30px;
    padding: 0 8px;
    margin-top: 2%;
}

.header {
    height: 8%;
    align-items: center;
    display: flex;
    height: 64px;
    justify-content: flex-end;
    margin: 0 20px;
    min-height: 64px;
}

.readNews {
    cursor: pointer;
    margin: 0 5px;
    background-color: #929496;
    border-radius: 40px;
    color: #2b2b2b;
    display: inline-block;
    font-weight: 600;
    line-height: 40px;
    padding: 0 20px;
    font-family: LocalFont, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;

}

.readNews:hover {
    background-color: white
}

.icon Image {
    fill: white;
}

.icon {

    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 200px;
    cursor: pointer;
    color: black;
    background-color: #929496;
    margin-left: 1%;

    /* 
    display: flex;
	position: relative;
	overflow: hidden; 
	width: var(--link-size);
	height: var(--link-size);
	margin: 8px;
	background-color: #929496;
	border-radius: 50%;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12);
	text-decoration: none;
	transition: var(--trans-property);

    /* margin: auto; */
    /* font-size: 24px; */
    color: #18191a;
    z-index: 1;
    transition: var(--trans-property);
}

.facebook:hover {
    background-color: #1769ff;


}

.facebook:hover .facebookicon {
    color: white;
}

.twitter:hover {
    background-color: #1da1f2;
}

.twitter:hover .twitterIcon {
    color: white;
}

.link:hover {
    background-color: white;
}






.icon:after {
    content: "";
    width: var(--link-size);
    height: var(--link-size);
    position: absolute;
    transform: translate(0, var(--link-size));
    border-radius: 50%;
    transition: var(--trans-property);
    background-color: #1769ff;
}





/* .icon:hover {
	transform: translateY(-4px);
	box-shadow: 0px 4px 12px rgba(0,0,0,0.16);
}
.icon:hover i {
	color: #fff;
}
.icon:hover:after {
	transform: translate(0) scale(1.2);
} */