.Tagbody {
/* border: 1px solid red; */
height: auto;
margin-top: 4.2%;
display: flex;
  /* justify-content: center; 
  align-items: center; */
/* width:100vw; */
}

.VideoBoundary{
    width:70%;
    height: 100%;
    max-height: auto;
    max-width: 1000px;
  /* border:1px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;
}

.boudriBlack{
    background: linear-gradient(180deg,rgba(0,0,0,.1) 34.9%,rgba(0,0,0,.9) 70.83%,rgba(0,0,0,.79));
    z-index: 100;
}

.ImageBoundary{

    /* border: 1px solid magenta; */
    height: 395px;
    width: 222px;
    padding:1%;
}

.ImgBoundaries{
    position: relative;
    /* border: 1px solid yellow; */
    height: 50%;
}

.textcontent {
    /* border:1px solid red; */
    position: absolute;
    /* border-collapse: collapse; */
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
    height: 78%;
    display: flex;
    flex-direction: column;
    top: 116%;
    width:94%;
    border-radius: 4px;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    font-size: 14px;
    font-weight: bold;
    padding: 3%;
    word-wrap: break-word;
    /* background: linear-gradient(180deg,rgba(0,0,0,.1) 34.9%,rgba(0,0,0,.9) 70.83%,rgba(0,0,0,.79)); */
    background: linear-gradient(178deg,rgb(0 0 0 / 2%) 12.9%,rgba(0,0,0,0.9) 98.83%,rgba(0,0,0,1.9));

    /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8); */
}
.tittle{
    display: inline;
    word-wrap: break-word
}
.subtittle{
    word-wrap: break-word;
    color:white;
}
.parag{

    display: block;
}
.ef624bc1 {
    align-items: center;
    background: rgba(0,0,0,.6);
    border: 1px solid rgba(0,0,0,.6);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 46px;
    justify-content: center;
    left: 50%;
    margin: -24px;
    position: absolute;
    top: 100%;
    width: 46px;
}

.ImgBoundaries:hover .ef624bc1{
    
    border: 1px solid white;
}

.footer{
    /* border: 1px solid blue; */
    height: 1.2rem;
    font-size: 12px;
    width:99%;
    /* margin-bottom: 1%; */
    margin-top: 4%;
    color:#bebebe;

    bottom: -200px;
    display: flex;
    position: absolute;
    bottom: 0;
}

.Category{

    display: flex;
    position: absolute;
    left:0;
    /* bottom:0; */
    margin-left: 5%;
}

.DateTime{
    display: flex;
    right: 0;
    /* bottom: 0; */
    position: absolute;
    margin-right: 5%;

}

